# Checkpoint Three: Cleaning Data

Now you are ready to clean your data. Before starting coding, provide the link to your dataset below.

My dataset: https://www.kaggle.com/datasets/shivan118/big-mart-sales-prediction-datasets

Import the necessary libraries and create your dataframe(s).

# Business Issue:

Reading through the post, it’s about sales prediction for Big Mart Outlets. Using this dataset, the data analyst can identify the properties of products and outlets that are key factors in increasing the sales, and to build a predictive model that can forecast the sales of each product at a particular outlet.

# Import

In [2]:
import pandas as pd
import matplotlib 
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

train_data=pd.read_csv('train.csv')
train_data

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [3]:
train_data.shape

(8523, 12)

## Missing Data

Test your dataset for missing data and handle it as needed. Make notes in the form of code comments as to your thought process.

In [6]:
train_data.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

# The results of isnull() Item_Weight & Outlet_Size has has missing values.

# Cleaning The Data And Creating The New Features

In [12]:
# Make a copy of the train_data

clean_data = train_data.copy()

# Filling Item_Weight Null Values.

In [35]:
#Fill null values using the Mean

clean_data['Item_Weight'].fillna(train_data['Item_Weight'].mean(), inplace = True)
clean_data.isnull().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

# Filling Outlet_Size Null Values.

In [14]:
# getting Mode based on Outlet_Type

outlet_size_mode_pt = clean_data.pivot_table(values = 'Outlet_Size',
                                columns = 'Outlet_Type', aggfunc = lambda x: x.mode())
outlet_size_mode_pt

Outlet_Type,Grocery Store,Supermarket Type1,Supermarket Type2,Supermarket Type3
Outlet_Size,Small,Small,Medium,Medium

In [22]:
# Fill null values by using mode missing_values = clean_data['outlet_size'].isnull()

missing_values = clean_data['Outlet_Size'].isnull()
clean_data.loc[missing_values, 'Outlet_Size'] = clean_data.loc[missing_values,
                                                               'Outlet_Type'].apply(lambda x: outlet_size_mode_pt[x][0])

clean_data.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

## Irregular Data

Detect outliers in your dataset and handle them as needed. Use code comments to make notes about your thought process.

In [23]:
clean_data.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066132,140.992782,1997.831867,2181.288914
std,4.226124,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,9.310000,0.026989,93.826500,1987.000000,834.247400
50%,12.857645,0.053931,143.012800,1999.000000,1794.331000
75%,16.000000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

# Some values are 0% in Item_Visibility, items cannot be bought by customers if it's not visible, this is an outlier.

In [25]:
# Replace 'Item_Visibility'0%
# Print the total number of 0's before replace

print('Total of 0s before replace: ', sum(clean_data['Item_Visibility'] == 0))

# Replace 0s with the mean
clean_data.loc[:,'Item_Visibility'].replace(to_replace=0,
                                            value=clean_data['Item_Visibility'].mean(),
                                            inplace=True)

# Print total number of 0's after the replace
print('Total of 0s after replace: ', sum(clean_data['Item_Visibility'] == 0))

Total of 0s before replace:  526
Total of 0s after replace:  0

## Unnecessary Data

Look for the different types of unnecessary data in your dataset and address it as needed. Make sure to use code comments to illustrate your thought process.

In [ ]:
#I've removed the columns that contained null values that I know I am not interested in exploring 
#further from the perspective of my business issue.I probably will also not be interested in doing
#any analysis with submission status, project project status. However, I'll keep them for now in case
#they prove to be interesting figures to work with in Tableau.

## Inconsistent Data

Check for inconsistent data and address any that arises. As always, use code comments to illustrate your thought process.

# Replace Item_Fat content values

In [27]:
# Print values

print(clean_data['Item_Fat_Content'].unique())

['Low Fat' 'Regular' 'low fat' 'LF' 'reg']

In [28]:
# Replace the repititive inconsistent values

clean_data['Item_Fat_Content'].replace({'low fat':'Low Fat', 'LF':'Low Fat', 'reg':'Regular'}, inplace=True)
clean_data['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

# Create A New Item_Category Features

In [29]:
# Create a new feature using the two first letters of the Item_Identifier

clean_data['Item_Category'] = clean_data['Item_Identifier'].apply(lambda x: x[:2])
clean_data['Item_Category'] = clean_data['Item_Category'].replace({'FD':'Food', 'DR':'Drink', 'NC':'Non-Consumable'})
clean_data['Item_Category'].value_counts()

Food              6125
Non-Consumable    1599
Drink              799
Name: Item_Category, dtype: int64

# Update Item_Fat_Content for Non Consumables

In [30]:
# Adding a new item Item_Fat_Content category for non-consumable items

clean_data.loc[clean_data['Item_Category'] == 'Non-Consumable', 'Item_Fat_Content'] = 'No Edible'
clean_data['Item_Fat_Content'].value_counts()

Low Fat      3918
Regular      3006
No Edible    1599
Name: Item_Fat_Content, dtype: int64

# Create New Outlet_Years Features

In [31]:
# The new feature tell us how old is the outlet
clean_data['Outlet_Years'] = 2023 - clean_data['Outlet_Establishment_Year']
clean_data['Outlet_Years']

0       24
1       14
2       24
3       25
4       36
        ..
8518    36
8519    21
8520    19
8521    14
8522    26
Name: Outlet_Years, Length: 8523, dtype: int64

# Checking The Dataset After Cleaning

In [34]:
# how the data looks like

clean_data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

## Summarize Your Results

Make note of your answers to the following questions.

1. Did you find all four types of dirty data in your dataset?
2. Did the process of cleaning your data give you new insights into your dataset?
3. Is there anything you would like to make note of when it comes to manipulating the data and making visualizations?

# 1. Yes, in columns there were missing values, outliers and inconsistent data.
# 2. Yes, I'm more interested in exploring the new insights into my dataset while making visualizations by using Tableau.